
@{
    ViewData["Title"] = "ColorPicker";
    Layout = null;
}

    <div class="row" style="padding-left: 30px;">
        <div class="col-sm-4">
            <div class="wheel" id="colorWheel"></div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3" id="newColor" style="border-radius: 20px 0 0 20px;"></div>
        <div class="col-sm-3" id="oldColor" style="border-radius: 0 20px 20px 0;"></div>
        <div class="col-sm-1"></div>
    </div>

