@{
    ViewData["Title"] = "ColorPicker";
    Layout = null;
}

<div class="row match-height">
    <div class="wheel" id="colorWheel"></div>
    <form>
        <input type="hidden" name="color" value="" />
        <input type="submit" class="btn btn-danger" value="Delete" />
    </form>
</div>

<script src="~/lib/colorPicker/dist/iro.js"></script>
<script>
        var colorWheel = new iro.ColorPicker("#colorWheel", {
            width: 150
        });

        colorWheel.on('color:change', function (color, changes) {
            var myColor = colorWheel.color.hexString;
            console.log(myColor);
        })
</script>