.mony-icon {
    background: url('/images/icon/mony.png');
    height: 20px;
    width: 20px;
    display: block;
}

.ccenter {
    display: block !important;
    margin: auto !important;
}

#ImgUpload{
    display:block;
    margin:auto;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.bankImgUpload {
    width: 200px !important;
    height: auto !important;
}

#btnColor {
    border-radius: 50%;
    height: 43px;
    width: 50%;
    background-color: #34e5eb;
}

.AmountValue > ul {
    right: 10px;
}


.AmountValue > ul > li {
    border-radius: 8px
}

.prperty-Colleague > ul {
    right: 10px;
}

.ColleagueColor {
    width: 5px;
    height: 40px;
    border-radius: 3px;
    margin-right: 10px
}

.media-list-Mehr {
    width: 40px !important;
    height: 40px !important;
}

.importExportform {
    float: right;
    right: 25px;
    position: relative;
}

.btnFilter {
    position: relative;
    float: right;
}

.AmountInput {
    border: 0;
    color: #000;
    font-weight: bold;
}

.dateInput {
    border-radius: 0;
}


.dateGroup {
    padding: 2px;
}

#newColor {
    border-radius: 20px 0 0 20px;
}

#oldColor {
    border-radius: 0 20px 20px 0;
}

.counter {
    text-align: center;
    padding: 20px
}

.ShebaNumber, .cardNumber {
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-align: center;
    margin-right: 2px;
    margin-left: 2px;
}
.cardNumber {
    width: 80px !important;
}

.ShebaNumber {
    width: 70px !important;
}

.list-number {
    display: flex;
}

.form-control-label {
    border: none !important;
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 200px !important;
}

.centerCell {
    text-align: center !important;
    vertical-align: middle !important;
}