@model DataLayer.Colleague

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}


<div class="row match-height">
    <h3>Are you sure you want to delete this?</h3>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ColleagueID" />
        <input type="submit" class="btn btn-danger" value="Delete" />
    </form>
</div>