@model DataLayer.SponsorTransaction
@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/lib/prettyCheck/pretty-checkbox.min.css">

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="id" value="@ViewBag.RedirectTo" />
    <input type="hidden" name="ColleagueID" value="@ViewBag.ColleagueID" />
    <label class="control-label">Sponsor</label>
    <div class="row">
        <div class="col-10">
            <div class="form-group">
                <select asp-for="SponsorID" class="form-control" asp-items="ViewBag.SponsorID"></select>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <input type="hidden" name="TransactionType" id="hideTransactionType" value="false" />
                <div class="pretty p-icon p-toggle">
                    <input id="TransactionType" onchange="changeTransactionType()" type="checkbox" />
                    <div class="state p-on fonticon-container">
                        <div class="fonticon-wrap icon-shadow">
                            <i class="la la-dollar"></i>
                        </div>
                    </div>
                    <div class="state p-off fonticon-container">
                        <div class="fonticon-wrap icon-shadow">
                            <i class="la la-credit-card"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group ">
        <label for="buttomGroup" class="control-label">Transaction Date</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text cursor-pointer" id="TransactionDate"><i class="la la-calendar"></i></span>
            </div>
            <input readonly type="text" name="TransactionDate" class="form-control" id="inputTransactionDate" placeholder="Transaction Date" />
            <span asp-validation-for="MyTransaction.TransactionDate" class="text-danger"></span>
        </div>
    </div>
    <div id="Transaction">
        <div class="form-group">
            <label asp-for="MyTransaction.TrackingNumber" class="control-label"></label>
            <input asp-for="MyTransaction.TrackingNumber" class="form-control" />
            <span asp-validation-for="MyTransaction.TrackingNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MyTransaction.LastFourNumbersOfBankCard" class="control-label"></label>
            <input asp-for="MyTransaction.LastFourNumbersOfBankCard"  class="form-control" />
            <span asp-validation-for="MyTransaction.LastFourNumbersOfBankCard" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MyTransaction.Amount" class="control-label"></label>
            <input asp-for="MyTransaction.Amount" class="form-control" />
            <span asp-validation-for="MyTransaction.Amount" class="text-danger"></span>
        </div>
    </div>
    <div id="Receipt" style="display: none">
        <div class="form-group">
            <label asp-for="MyReceipt.ReceiptNumber"  class="control-label"></label>
            <input asp-for="MyReceipt.ReceiptNumber"  class="form-control" />
            <span asp-validation-for="MyReceipt.ReceiptNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MyReceipt.Amount" class="control-label"></label>
            <input asp-for="MyReceipt.Amount" class="form-control" />
            <span asp-validation-for="MyReceipt.Amount" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CauseOfSupport" class="control-label"></label>
        <input asp-for="CauseOfSupport" class="form-control" />
        <span asp-validation-for="CauseOfSupport" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OtherSupport" class="control-label"></label>
        <input asp-for="OtherSupport" class="form-control" />
        <span asp-validation-for="OtherSupport" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<script>
    $('#TransactionDate').MdPersianDateTimePicker({
        targetTextSelector: '#inputTransactionDate',
        selectedDate: new Date(),
        enableTimePicker: true,
        placement: 'top',
        dateFormat: 'yyyy/MM/dd HH:mm:ss',
        textFormat: 'yyyy/MM/dd HH:mm:ss',
    });
</script>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
