@model IEnumerable<DataLayer.Colleague>

@{ 
    int i = 0;
}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title danger">Top Colleagues</h4>
        </div>
        <div class="card-content">
            <div id="recent-buyers" class="media-list">
                @foreach (var item in Model)
                {
                    <div class="media border-0">
                        @{
                            string profile = item.picName;

                            if (profile == "" || profile == null)
                            {
                                profile = item.isMale ? "Male.jpg" : "Female.jpg";
                            }

                            string color = item.color;

                            if (color == "" || color == null)
                            {
                                color = "#fff";
                            }
                        }
                        <div class="media-left pr-1">
                            <a asp-controller="Colleague" asp-action="Details" asp-route-id="@item.ColleagueID">
                                <span>
                                    <img class="media-object rounded-circle media-list-Mehr" src="~/images/Profiles/@profile" alt="Generic placeholder image">
                                    <i></i>
                                </span>
                            </a>
                        </div>
                        <div class="ColleagueColor" style="background-color: @color;"></div>
                        <div class="media-body w-100 AmountValue">
                            <a asp-controller="Colleague" asp-action="Details" asp-route-id="@item.ColleagueID">
                                <span class="list-group-item-heading">@item.Name</span>
                            </a>
                            <ul class="list-unstyled users-list m-0 float-right">
                                <li class="pull-up">
                                    <b><p class="count Info">@ViewBag.Amounts[i++]</p></b>
                                </li>
                            </ul>
                            <p class="list-group-item-text mb-0">
                                <span class="blue-grey lighten-2 font-small-3">#@item.code</span>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
