@model DataLayer.Colleague

<div class="col-xl-6 col-md-6 col-sm-12">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">New Colleague</h4>
            </div>
            <form asp-area="App" asp-controller="Colleague" asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDay" class="control-label"></label>
                        <input asp-for="BirthDay" class="form-control" />
                        <span asp-validation-for="BirthDay" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartActivity" class="control-label"></label>
                        <input asp-for="StartActivity" class="form-control" />
                        <span asp-validation-for="StartActivity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="code" class="control-label"></label>
                        <input asp-for="code" class="form-control" />
                        <span asp-validation-for="code" class="text-danger" ></span>
                    </div>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-min-width mr-1 mb-1">Clear</button>
                    <button type="submit" class="btn btn-success btn-min-width mr-1 mb-1">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>