@{
    ViewData["Title"] = "Banks";
}

    <section id="header-footer">
        <div class="row match-height">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Mallat Bank</h4>
                    </div>
                    <img class="" src="~/images/Banks/mellat.png" alt="Card image cap">
                    <div class="card-body">
                        <a asp-controller="BankData" asp-action="BankDetails" asp-route-id="mellat" class="card-link">More...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Melli Banks</h4>
                    </div>
                    <img class="" src="~/images/Banks/Melli.png" alt="Card image cap">
                    <div class="card-body">
                        <a asp-controller="BankData" asp-action="BankDetails" asp-route-id="melli" class="card-link">More...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Saderat Banks</h4>
                    </div>
                    <img class="" src="~/images/Banks/Saderat.png" alt="Card image cap">
                    <div class="card-body">
                        <a asp-controller="BankData" asp-action="BankDetails" asp-route-id="saderat" class="card-link">More...</a>
                    </div>
                </div>
            </div>
        </div>
    </section>