@{
    ViewData["Title"] = "Colleagues";
}

@section StyleSheets{
    <link rel="stylesheet" type="text/css" href="~/lib/prettyCheck/pretty-checkbox.min.css">
}

<section id="content-colleagues">
    <div class="row match-height">
        <div class="col-xl-6 col-md-6 col-sm-12">
            @await Component.InvokeAsync("ListColleague")
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
            @await Component.InvokeAsync("NewColleague")
        </div>
    </div>
</section>

@section Script{
    <script src="~/lib/colorPicker/dist/iro.js"></script>
    <script src="~/js/pages/app.js"></script>
    <script>
        // Change Color
    function GetColor() {
        $(".modal").modal('show');
        $(".modal-title").html("Select Color");
        $(".modal-body").html(`@await Component.InvokeAsync("ColorPicker")`);

        var colorInput = document.getElementById("color");
        var colorBtn = document.getElementById("btnColor");
        document.getElementById("newColor").style.backgroundColor = colorInput.value;
        document.getElementById("oldColor").style.backgroundColor = colorInput.value;

        var colorWheel = new iro.ColorPicker("#colorWheel", {
            width: 150,
            color: colorInput.value
        });

        colorWheel.on('color:change', function (color, changes) {
            var myColor = colorWheel.color.hexString;
            colorInput.value = String(myColor);
            colorBtn.style.backgroundColor = String(myColor);
            document.getElementById("newColor").style.backgroundColor = String(myColor);
        })
    };
    </script>
}