@{
    ViewData["Title"] = "Colleagues";
}

@section StyleSheets{
    <link rel="stylesheet" type="text/css" href="~/lib/prettyCheck/pretty-checkbox.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/calendar/dist/jquery.md.bootstrap.datetimepicker.style.css">
}

<section id="content-colleagues">
    <div class="row match-height">
        <div class="col-xl-6 col-md-6 col-sm-12">
            @await Component.InvokeAsync("ListColleague")
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
            @await Component.InvokeAsync("NewColleague")
        </div>
    </div>
</section>

@section Script{
    <script src="~/lib/colorPicker/dist/iro.js"></script>
    <script>
        function deleteColleague(id) {
            $.get("/Colleague/Delete/" + id, function (result) {
                $(".modal").modal('show');
                $(".modal-title").html("Delete Colleague");
                $(".modal-body").html(result);
            });
        };

        $(document).ready(function () {
            $("#input-search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#recent-buyers *").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        /////////////////////// Change Color

        function GetColor() {
            $(".modal").modal('show');
            $(".modal-title").html("Select Color");
            $(".modal-body").html(`@await Component.InvokeAsync("ColorPicker")`);

            var colorInput = document.getElementById("color");
            var colorBtn = document.getElementById("btnColor");
            document.getElementById("newColor").style.backgroundColor = colorInput.value;
            document.getElementById("oldColor").style.backgroundColor = colorInput.value;

            var colorWheel = new iro.ColorPicker("#colorWheel", {
                width: 150,
                color: colorInput.value
            });

            colorWheel.on('color:change', function (color, changes) {
                var myColor = colorWheel.color.hexString;
                colorInput.value = String(myColor);
                colorBtn.style.backgroundColor = String(myColor);
                document.getElementById("newColor").style.backgroundColor = String(myColor);
            })
        };

        ////////////////////////// Upload Image

        function changeImg(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#ImgUpload')
                        .attr('src', e.target.result)
                };

                reader.readAsDataURL(input.files[0]);
            }
        };

        $(document).ready(function () {
            var fileupload = document.getElementById("FileUpload");
            var image = document.getElementById("ImgUpload");
            image.onclick = function () {
                fileupload.click();
            };
            fileupload.onchange = function () {
                changeImg(fileupload);
            };
        });

        ////////////////////////// Gender

        $("#Gender").change(function () {
            document.getElementById("hideIsMale").value = this.checked ? "true" : "false";

            var fileupload = document.getElementById("FileUpload");
            if (!fileupload.files || !fileupload.files[0]) {
                document.getElementById("ImgUpload").src = this.checked ? "/images/Profiles/Male.jpg" : "/images/Profiles/Female.jpg";
            }
        });

        ////////////////////////// Date Picker
        //
 
    </script>

}