@{
    ViewData["Title"] = "Colleagues";
}

<section id="content-colleagues">
	<div class="row match-height">
		@await Component.InvokeAsync("ListColleague")
		@await Component.InvokeAsync("NewColleague")
	</div>
</section>


@section Script{
	<script>
		function deleteColleague(id){
			$.get("/Colleague/Delete/"+id, function(result){
				$(".modal").modal('show');
				$(".modal-title").html("Delete Colleague");
				$(".modal-body").html(result); 
			});
		};
	</script>

	<script>
		$(document).ready(function(){
		$("#input-search").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#recent-buyers *").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
			});
		});
		});
	</script>
}