@{
    ViewData["Title"] = "Sponsors";
}

<section id="content-colleagues">
    <div class="row match-height">
        <div class="col-xl-6 col-md-6 col-sm-12">
            @await Component.InvokeAsync("ListSponsor")
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12">
            @await Component.InvokeAsync("NewSponsor")
        </div>
    </div>
</section>	
