@{
    ViewData["Title"] = "Sponsors";
}

<section id="content-colleagues">
	<div class="row match-height">
		@await Component.InvokeAsync("ListSponsor")
		@await Component.InvokeAsync("NewSponsor")
	</div>
</section>	
