@model DataLayer.Colleague

    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">New Colleague</h4>
            </div>
            <form asp-controller="Colleague" asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" type="text" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <input id="FileUpload" onchange="fileUpChange(this)" name="profile" type="file" style="display: none;" />
                                <span class="avatar avatar-lg">
                                    <img id="ImgUpload" onclick="imgUpClick()" class="media-object rounded-circle" src="~/images/Profiles/Female.jpg">
                                    <i></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group ">
                                <label for="buttomGroup" class="control-label">Birth Day</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text cursor-pointer" id="BirthDay"><i class="la la-calendar"></i></span>
                                    </div>
                                    <input readonly type="text" name="BirthDay" class="form-control" id="inputBirthDay" placeholder="Birth Day" />
                                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label asp-for="code" class="control-label"></label>
                                <input asp-for="code" type="text" class="form-control" />
                                <span asp-validation-for="code" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group ">
                                <label for="buttomGroup" class="control-label">Birth Day</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text cursor-pointer" id="StartActivity"><i class="la la-calendar"></i></span>
                                    </div>
                                    <input readonly type="text" name="StartActivity" class="form-control" id="inputStartActivity" placeholder="StartActivity" />
                                    <span asp-validation-for="StartActivity" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="color" class="control-label"></label>
                                        <input asp-for="color" type="hidden" value="#34e5eb" />
                                        <button type="button" id="btnColor" onclick="GetColor()" class="btn" ></button>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="isMale" class="control-label"></label>
                                        <input type="hidden" id="hideIsMale" name="isMale" value="false"/>
                                        <div class="pretty p-icon p-toggle">
                                            <input id="Gender" onchange="changeGender()" type="checkbox" />
                                            <div class="state p-on fonticon-container">
                                                <div class="fonticon-wrap icon-shadow">
                                                    <i class="la la-male"></i>
                                                </div>
                                            </div>
                                            <div class="state p-off fonticon-container">
                                                <div class="fonticon-wrap icon-shadow">
                                                    <i class="la la-female"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-light btn-min-width mr-1 mb-1">Clear</button>
                    <button type="submit" class="btn btn-success btn-min-width mr-1 mb-1">Save</button>
                </div>
            </form>
        </div>
    </div>
