@model DataLayer.BankData

@{
    Layout = null;
}

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="BankID" type="hidden" value="@ViewBag.BankID" />
        <div class="form-group">
            <label for="TrackingNumber" class="control-label">Transaction Date</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text cursor-pointer" id="TransactionDate"><i class="ft-calendar"></i></span>
                </div>
                <input disabled type="text" name="TransactionDate" class="form-control" id="inputTransactionDate" placeholder="From ..." />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TrackingNumber" class="control-label"></label>
            <input asp-for="TrackingNumber" class="form-control" />
            <span asp-validation-for="TrackingNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastFourNumbersOfBankCard" class="control-label"></label>
            <input asp-for="LastFourNumbersOfBankCard" class="form-control" />
            <span asp-validation-for="LastFourNumbersOfBankCard" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="control-label"></label>
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>

    <script>
        $('#TransactionDate').MdPersianDateTimePicker({
            targetTextSelector: '#inputTransactionDate',
            selectedDate: new Date(),
            dateFormat: 'yyyy/MM/dd',
            textFormat: 'yyyy/MM/dd',
        });
    </script>

@section Script {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
